body {
    display: flex;

}

.image-container {
    position: relative;
}

.background-image {
    position: relative;
    max-height: 100vh;
    
}

.logo {
    position: absolute;
    background-color:black;
    max-width: 30%;
    max-height: 40%;
    top: 30%;
    left: 35%;
    opacity: 0.5;
}